JOB_NAME=SimpleWordCount
INPUT_FILE=resources/letters.txt
OUTPUT_FILE=resources/wordCounts.txt
MAP_FN=examples.wordcount.MapWordCount
MAP_TIMEOUT_SEC=5
REDUCE_FN=examples.wordcount.ReduceWordCount
REDUCE_TIMEOUT_SEC=20
NUM_REDUCERS=1
PARITION_SIZE=16
MASTER=localhost:5423
PARTICIPANT=unix3.andrew.cmu.edu:8943
