JOB_NAME=WordOccurances
INPUT_FILE=resources/macbeth.txt
OUTPUT_FILE=resources/macbethCount.txt
MAP_FN=resources/MapWordOccurances.jar:examples.wordoccurances.MapWordOccurances
MAP_TIMEOUT_SEC=5
REDUCE_FN=resources/ReduceWordOccurances.jar:examples.wordoccurances.ReduceWordOccurances
REDUCE_TIMEOUT_SEC=20
PARITION_SIZE=64
MASTER=localhost
MASTER_PORT=8765
PARTICIPANT=unix4.andrew.cmu.edu
PARTICIPANT_PORT=7743
PARTICIPANT=unix3.andrew.cmu.edu
PARTICIPANT_PORT=7743
PARTICIPANT=unix5.andrew.cmu.edu
PARTICIPANT_PORT=7743