JOB_NAME=WordCount
INPUT_FILE=resources/macbethWords.txt
OUTPUT_FILE=resources/macbethWordCounts.txt
MAP_FN=resources/MapWordCount.jar
MAP_TIMEOUT_SEC=5
REDUCE_FN=resources/ReduceWordCount.jar
REDUCE_TIMEOUT_SEC=20
PARITION_SIZE=64
MASTER=localhost
MASTER_PORT=8765
PARTICIPANT=unix4.andrew.cmu.edu
PARTICIPANT_PORT=7743
PARTICIPANT=unix3.andrew.cmu.edu
PARTICIPANT_PORT=7743
PARTICIPANT=unix5.andrew.cmu.edu
PARTICIPANT_PORT=7743