JOB_NAME=WordCount
INPUT_FILE=resources/macbethWords.txt
OUTPUT_FILE=resources/macbethWordCounts.txt
MAP_FN=examples.wordcount.MapWordCount
MAP_TIMEOUT_SEC=5
REDUCE_FN=examples.wordcount.ReduceWordCount
REDUCE_TIMEOUT_SEC=20
NUM_REDUCERS=3
PARITION_SIZE=64
MASTER=localhost:8765
PARTICIPANT=unix6.andrew.cmu.edu:5050
PARTICIPANT=unix4.andrew.cmu.edu:5050
PARTICIPANT=unix3.andrew.cmu.edu:5050
