JOB_NAME=WordOccurences
INPUT_FILE=resources/macbeth.txt
OUTPUT_FILE=resources/macbethCount.txt
MAP_FN=examples.wordoccurences.MapWordOccurences
MAP_TIMEOUT_SEC=5
REDUCE_FN=examples.wordoccurences.ReduceWordOccurences
REDUCE_TIMEOUT_SEC=20
PARITION_SIZE=64
NUM_REDUCERS=3
PARTICIPANT=unix4.andrew.cmu.edu:7743
PARTICIPANT=unix3.andrew.cmu.edu:7743
PARTICIPANT=unix5.andrew.cmu.edu:7743
